@media screen and (max-width: 1400px){
    main{
        margin-left: 0px;
        margin-right: 0px;
    }
    .box{
        width: 70%;
    }
}

@media screen and (max-width: 800px){
    h1{
        font-size: 33px;
    }

    h2{
        font-size: 20px;
    }
}

@media screen and (max-width: 600px){
    h1{
        font-size: 28px;
    }
    
}

@media screen and (max-width: 500px){
    input{
        width: 220px;
    }
}


